@font-face {
  font-family: "AvertaBold";
  src: url("../assets/fonts/Averta-Bold.woff") format("woff");
}

@font-face {
  font-family: "AvertaReg";
  src: url("../assets/fonts/Averta-Regular.woff") format("woff");
}


//Variables
@import './config/variables';

//Config
@import './config/mixins';

//Base
@import './base/base';

//Components
@import './components/header';
@import './components/btnBurger';
@import './components/hero';
@import './components/socialbar';
@import './components/indexbar';
@import './components/skills';
@import './components/projects';
@import './components/gallery';
@import './components/about';
@import './components/contact';
@import './components/footer';
@import './components/form';
@import './components/detail';
@import './components/video';

// Layouts
@import '../layouts/BasicLayout/BasicLayout.scss';