.about__container {
    display: grid;
        grid-template-columns: 1fr 30%;
        gap: 18rem;
        padding-right: 25%;
        margin-top: 43rem;
        width: 100%;
        height: auto;
        background-color: var(--bg-color-sec);
        font-family: $font-prin;
        color: var(--main-color);
    
        @include from(t) {
            display: flex;
            flex-direction: column;
            margin-top: 20rem;
            gap: 0;
            width: 100%;
            padding-right: 0;
            padding-bottom: 10rem;
        }

        @include from(mobl) {
          padding-bottom: 8rem;
        }

        @include from(mob) {
            padding-bottom: 18rem;
        }


}

.about__text {    
    padding-bottom: 30rem;
    margin-left: 8rem;
    height: 0;

        @include from(dl) {
            margin-left: 0;
        }

        @include from(dm) {
            margin-top: 4rem;
        }

        @include from(t) {
            margin-bottom: 15rem;
            margin-left: 4rem;
            margin-top: 4rem;
        }

        @include from(mobl) {
            margin-bottom: 15rem;
        }



    p {
        width: 100%;
        font-size: 1.8rem;
        font-weight: 400;
        margin-left: 1rem;
        margin-top: 2rem;

        @include from(dl) {
            width: 150%;
        }


        @include from(ds) {
            font-size: 1.6rem;
        }

        @include from(t) {
            width: 80%;
            margin-left: 0;     
        }


    }
}

.about__img {
width: 100%;
    height: 100vh;
    min-height: 100vh;
    object-fit: cover;
    object-position: 40% 0;


    @include from(dl) {
        min-height: 90vh;
        height: 90vh;
    }

    @include from(dm) {
        min-height: 70vh;
        height: 70vh;
    }

    @include from(t) {
        width: 1920px;
        min-height: auto;
        height: auto;
        margin: 0;
        padding: 0;
    }
}


.about__title {
    font-weight: 500;
    font-size: var(--title-font-size);
    margin-left: -8.2rem;
    margin-top: 10rem;
    margin-bottom: 0;
    white-space: nowrap;

    @include from(dm) {
        margin-top: 0;
        margin-bottom: 0;
    }

    @include from(t) {
        margin-left: 0;
        margin-top: 4rem;
    }

    @include from(mobl) {
        font-size: 5.2rem;
    }
    
        span {
            opacity: .3;

            @include from(t) {
               display: none;
            }

        }
}



















// .about__container {
//     display: grid;
//     grid-template-columns: 1fr 30%;
//     gap: 18rem;
//     padding-right: 25%;
//     margin-top: 43rem;
//     width: 100%;
//     height: auto;
//     background-color: var(--bg-color-sec);
//     font-family: $font-prin;
//     color: var(--main-color);

// }

// .about__text {    
//     margin-left: 8rem;
//     width: 100%;
//     padding-bottom: 10rem;

//         @include from(dl) {
//              margin-left: 0;
//         }


//     p {
//         font-size: 1.8rem;
//         font-weight: 400;
//         margin-top: 6rem;
//         margin-left: 2rem;
//         width: 100%;


//         @include from(dl) {
//             width: 150%;
//         }
//     }

//     a {
//         margin-left: 2rem;
//     }

// }

// .about__img {
//     width: 100%;
//     height: 100vh;
//     min-height: 100vh;
//     object-fit: cover;
//     object-position: 40% 0;


//     @include from(dl) {
//         min-height: 90vh;
//         height: 90vh;
//     }
// }


// .about__title {
//     font-weight: 600;
//     font-size: 6.8rem;
//     margin-left: -8.2rem;
//     margin-top: 10rem;
//     white-space: nowrap;

//     span {
//         opacity: .3;
//     }
// }