.header__section {
  width: 100%;
  height: 6rem;
  margin-top: 3rem;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

    @include from(mobl) {
        padding: 0 2rem;
      }
}

.logo__saldev {
  filter: var(--icons);
  z-index: 200 !important;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--main-color);
  filter: var(--icons);
}


.logo::after {
  content: 'Inicio';
  font-size: 1.8rem;
  position: absolute;
  font-weight: 500;
  opacity: 0;
  align-self: center;
  margin-left: 120px;
}

.logo:hover::after {
  opacity: 1;
  transform: translateX(8px);
  transition: transform 600ms cubic-bezier(0, 0.45, 0.15, 1), opacity 600ms cubic-bezier(0, 0.45, 0.15, 1);
  
  @include from(mobl) {
    display: none;
  }

}

.main__menu {
  display: flex;
  align-items: center;
  z-index: 1000;
}


.dark-mode-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 200 !important;
}

.dark-toggle {
  display: none;
}


.dark-toggle + label {
  --height-control: 2.5rem;
  display: inline-block;
  width: calc( var(--height-control) * 2.5);
  height: var(--height-control);
  background-color: var(--main-color);
  position: relative;
  border-radius: calc(var(--radius) * 2);
}

.dark-toggle + label::after {
  --circle-size: calc(var(--height-control) * .7);
  width: var(--circle-size);
  height: var(--circle-size);
  left: calc((var(--circle-size) - var(--height-control))  * -1);
  top: calc((var(--circle-size) - var(--height-control)) / 2 * -1); 
  border-radius: 50%; 
  position: absolute;
  background-color: var(--bg-color);
  content: '';
  transition: all 0.2s ease-in; 
}

.dark-toggle:checked + label::after {
  left: calc(68% - (var(--circle-size) - var(--height-control) / 2) );
} 

.icon {
  filter: var(--icons);
}

