.hero__section {
  margin-top: 25rem;
  display: flex;

  @media screen and (max-width: 1047px) {
    margin-top: 15rem;
    width: 80%;
  }

  @include from(ts) {
    width: 100%;
  }

  @include from(mobl) {
    margin-top: 10rem;
  }
}

.hero__contain {
  padding: 0 4rem;
  margin: auto;

  @include from(mobl) {
    padding: 0;
    margin-left: 3rem;
  }
}

.main__title {
  font-size: calc(95px + (130 - 95) * ((100vw - 375px) / (1920 - 300)));
  line-height: 11rem;
  font-family: "AvertaBold", "Poppins", sans-serif;
  font-weight: 600;
  margin: 0;
  color: var(--title);
  z-index: 10;
  animation-delay: 0.8s;
  letter-spacing: -2px;

  @media screen and (max-width: 1047px) {
    font-size: calc(95px + (130 - 95) * ((100vw - 375px) / (1920 - 300)));
  }

  @media screen and (max-width: 922px) {
    font-size: calc(95px + (100 - 95) * ((100vw - 375px) / (1920 - 300)));
  }

  @include from(mobl) {
    font-size: calc(70px + (100 - 70) * ((100vw - 375px) / (1920 - 300)));
    line-height: 8rem;
  }
}

.main__subtitle {
  font-family: "AvertaReg", "Poppins", sans-serif;
  font-weight: 500;
  font-size: 3.2rem;
  letter-spacing: 4px;
  margin-top: 2rem;
  margin-bottom: 0;
  animation-delay: 0.6s;
  display: inline-block;

  @include from(t) {
    font-size: 2.4rem;
  }

  @include from(mobl) {
    font-size: 1.8rem;
  }
}

.hero__gradients {
  position: absolute;
  top: 8rem;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

.arrow {
  margin-top: 4rem;
  margin-left: 1rem;
  animation-delay: 0.2s;
  cursor: pointer;

  @include from(mobl) {
    width: 8rem;
  }

  &:hover {
    filter: var(--arrow-filter);
    opacity: 0.5;
  }
}

.arrow__btn {
  transform: rotate(180deg);
  margin-top: 0.9rem;
  margin-left: 0.7rem;
  filter: invert(0%) sepia(99%) saturate(3%) hue-rotate(148deg) brightness(99%)
    contrast(101%);
  &:hover {
    filter: invert(0%) sepia(99%) saturate(3%) hue-rotate(148deg)
      brightness(99%) contrast(101%);
    opacity: 1;
  }
}

.btn__talk {
  display: block;
  width: 16rem;
  height: 5rem;
  border: none;
  margin-top: 4rem;
  background-color: var(--accent-color);
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 4.8rem;
  cursor: pointer;
  transition: all 200ms ease;
  letter-spacing: 1px;
  animation-delay: 0.4s;

  @include from(mobl) {
    width: 12rem;
    height: 3.8rem;
  }

  &:hover {
    background-color: aquamarine;
  }
}
