.projects__section {
  margin-top: 10rem;
  min-height: 100vh;
  background-color: var(--bg-color);  
}


.projects__container {
  width: min(95%, 1174px);
  padding-top: 10rem;
}


.projects__title {
  font-family: $font-prin;
  font-weight: 500;
  font-size: var(--title-font-size);
  margin: 0 auto 0 0;

  @include from(dl) {
    margin-left: 10%;
  }

  @include from(ds) {
    margin-left: 2rem;
  }

  @include from(mobl) {
    font-size: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  
  span {
    opacity: .3;

    @include from(t) {
      display: none;
    }
  }  
}

.projects__labels {
  display: flex;
  gap: 3rem;
  margin-left: 0;
  margin-top: 3rem;
  flex-wrap: wrap;

  @include from(dl) {
    margin-left: 10%;
  }

  @include from(ds) {
    margin-left: 2rem;
  }

  @include from(ts) {
    gap: 1rem;
  }

  @include from(mobl) {
    margin-left: 1rem;
    margin-right: 2rem;
    row-gap: 3rem;
  }

}

.projects__btn {
  width: 13rem;
  height: 4rem;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  border-radius: 2.4rem;
  background-color: transparent;
  padding: 1rem 3rem;
  display: inline-block;
  cursor: pointer;
  transition: all 200ms ease;

  @include from(mobl) {
    padding: .5rem 2.5rem;
   }

  &:hover {
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);  
    color: black;
  }

}

.projects__gallery {
  width: min(90%, 1600px);
  
}